.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.height-full {
    height: 100%;
}

.cover {
  object-fit: cover;
}

#startButton,
#stopButton,
#uploadButton {
    padding: 20px;
    border-radius: 30px;
    border-color: transparent;
    border: 1px;
    background-color: black;
    color: white;
    display: flex;
    font-size: 40px;
    margin: 20px;
}

#uploadButton {
    margin: unset;
    font-size: 24px;
}

.mandatory::after {
    content: "*";
    color: red;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.popup {
    width: 100%;
    max-width: 600px;
    position: fixed;
    padding: 20px;
    border-radius: 8px;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup>input,
.popup>textarea {
    border: 0;
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    font-size: 16px;
}

.popup>textarea {
    height: 150px;
}
